input:focus,
button:focus,
select:focus {
  border: 1px solid var(--main-bg) !important;
  box-shadow: none !important;
}

.form-check-input:checked,
select:checked {
  background-color: var(--main-bg) !important;
  border-color: var(--main-bg) !important;
}
