.header{
    background-image: url('../../../images/header-bg.jpg');
    padding: 100px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 850px;
    left: 0;
    top: 0;
    z-index: 1;
}