.header{
    background-image: url('../../../images/header-bg.jpg');
    padding: 100px 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 850px;
    left: 0;
    top: 0;
    z-index: 1;
}
a .round-button{
    /* padding: 50px; */
    background: rgb(74,74,74);
    color: #fff;
    width: 200px;
    height: 200px;
    border: 10px solid #fff;
    font-size: 30px;
    font-weight: bold;
    transition: all 1.5s;
    border-radius:50%
}

a .round-button:hover{
    border: 10px solid #fff;
    background: goldenrod;
    color: #fff;
}